html, body {
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
}
body {
	margin: 0;
	background: #dea;
	color: #562;
	overflow:hidden;
}
h1 {
	display: inline-block;
	font-size:.85em;
	line-height: 1em;
	margin:0;
	padding:0;
}
#list {
	position:absolute;
	left:0;
	right:0;
	top:0;
	background: #dea;
	height:28px;
}
#list a {
	cursor:pointer;
	margin-left:4px;
}
#tracklist {
	padding:10px;
}
#tracklist a {
	margin-bottom:4px;
}
#map {
	position:absolute;
	top:30px;
	left:0;
	right:0;
	bottom:0;
	height:auto;
	width:auto;
}
a span {
	display:none;
}
#gpxzoom,
#gpxdown {
	display:inline-block;
	vertical-align:middle;
	width:22px;
	height:22px;
	background: url('icons.png') no-repeat rgba(255, 255, 255, 0.5);
	border:2px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;	
	margin:2px;
}
#gpxzoom:hover,
#gpxdown:hover {
	background-color: rgba(255, 255, 255, 1);
	border:2px solid #fff;	
}
#gpxzoom {
	background-position:1px 1px;
}
#gpxdown {
	background-position:-23px 1px;
}
#textshare {
	background: rgba(255, 255, 255, 0.5);	
	border:2px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	width:40%;
}

#copy {
	position:fixed;
	z-index:1000;
	right:-6px;
	top:-6px;
	font-style:italic;
	font-size:.85em;
	padding:5px 8px;
	background: #fff;
	border:2px solid #c5cdd4;
	border-radius:.7em;
	opacity: 0.8;
}

#loader em {
	text-align:center;
	display:none;
}

.leaflet-popup-content-wrapper {
	border-radius:.5em;	
}
.leaflet-control-permalink {
	display: none;
	border-radius: 6px;
}
.leaflet-container .leaflet-control-attribution {
	margin: 10px;
}
.leaflet-control-permalink a {
	font-size: 2em;
	letter-spacing: 2px;
}