html, body {
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
}
body {
	margin: 4px;
	background: #dea;
	color: #562;
	overflow:hidden;
}
h1 {
	font-size:1em;
	margin:0;
	padding:0;
}

#map {
	position:absolute;
	top:0;
	left:0;
	right:300px;
	bottom:0;
	height:auto;
	width:auto;
}

#copy {
	position:fixed;
	bottom:0;
	right:0;
	font-size:.85em;
	color:#6a2;
	margin:.25em;
}

#loader em {
	text-align:center;
	display:none;
}
